
// Body
$body-bg: #F4F4F7;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #263b5e;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

$primary:       #ed125f !default;
$secondary:     #5f51fb !default;
$info:          #01c99c  !default;
/*$success:       $green !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;*/

// Panels
$panel-default-heading-bg: #fff;
